In [86]:
import yfinance as yf
import pandas as pd
from pandas_datareader import data as pdr

In [90]:
asxTicker = 'AX1.AX'

data = yf.download(
        tickers = asxTicker,
        period = "1y",
        interval="1d")

[*********************100%***********************]  1 of 1 completed

In [91]:
dataFrame = pd.DataFrame({"Open":data['Open'], "Close": data['Close'], "Volume": data['Volume']})

dataFrame['Delta'] = dataFrame['Close'] - dataFrame['Open']

In [92]:
dataFrame

                           Open  Close   Volume  Delta
Date
2022-02-08 00:00:00+11:00  2.10   2.06  1052791  -0.04
2022-02-09 00:00:00+11:00  2.07   2.10   525346   0.03
2022-02-10 00:00:00+11:00  2.09   2.11   543275   0.02
2022-02-11 00:00:00+11:00  2.08   2.02  1015224  -0.06
2022-02-14 00:00:00+11:00  2.02   2.03   636099   0.01
...                         ...    ...      ...    ...
2023-02-02 00:00:00+11:00  2.26   2.25   955712  -0.01
2023-02-03 00:00:00+11:00  2.25   2.28  1046808   0.03
2023-02-06 00:00:00+11:00  2.27   2.22  1242199  -0.05
2023-02-07 00:00:00+11:00  2.20   2.24  1317583   0.04
2023-02-08 00:00:00+11:00  2.25   2.12  1164644  -0.13

[253 rows x 4 columns]

In [93]:
def func(row):
    if row['Close'] < row['Open']:
        val = "Loss"
    elif row['Close'] > row['Open']:
        val = "Gain"
    else:
        val = "No Change"
    return val

dataFrame['Price Movement (Gain/Loss)'] = dataFrame.apply(func, axis=1)

dataFrame

,Open,Close,Volume,Delta,Price Movement (Gain/Loss)
Date,,,,,
2022-02-08 00:00:00+11:00,2.10,2.06,1052791,-0.04,Loss
2022-02-09 00:00:00+11:00,2.07,2.10,525346,0.03,Gain
2022-02-10 00:00:00+11:00,2.09,2.11,543275,0.02,Gain
2022-02-11 00:00:00+11:00,2.08,2.02,1015224,-0.06,Loss
2022-02-14 00:00:00+11:00,2.02,2.03,636099,0.01,Gain
...,...,...,...,...,...
2023-02-02 00:00:00+11:00,2.26,2.25,955712,-0.01,Loss
2023-02-03 00:00:00+11:00,2.25,2.28,1046808,0.03,Gain
2023-02-06 00:00:00+11:00,2.27,2.22,1242199,-0.05,Loss
2023-02-07 00:00:00+11:00,2.20,2.24,1317583,0.04,Gain
2023-02-08 00:00:00+11:00,2.25,2.12,1164644,-0.13,Loss