In [1]:
## Import dependencies 

import yfinance as yf
import pandas as pd

/Users/mathewjohnson/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
## Ticker module allows access to ticker data from the Yahoo Finance API 

# Select a ticker and assign to Ticker module 
AX1 = yf.Ticker("AX1.AX")

# Call Income Statement, Balance Sheet & Cash Flow Statement data from selected ticker 
# Each element will be used to calculate financial ratios 
incomeStatement = AX1.income_stmt
balanceSheet = AX1.balance_sheet
cashFlowStatement = AX1.cashflow

In [3]:
cashFlowStatement.to_csv('Desktop/AX1CashFlow.csv')

In [3]:
############# Liquidity Ratios ############# 

# Liquidity ratios measure the ability to repay short & long term debt obligations 

# Debt to Assets  
# Current Ratio 
# Acid Test 
# Cash Ratio

In [4]:
## Debt to Assets ##

# Select total assets & total liabilities from Balance Sheet DataFrame 

assets = pd.DataFrame(balanceSheet.loc['Total Assets'])
liabilities = pd.DataFrame(balanceSheet.loc['Total Liabilities Net Minority Interest'])

In [5]:
# Create new DataFrame dispalying total assets & total liabilities using concat to concentrate the two objects 

debtToAssets = pd.concat([assets['Total Assets'], liabilities['Total Liabilities Net Minority Interest']], 
                         axis=1, keys=['Assets', 'Liabilities'])


# Create a new column named Debt to Assets & divide total assets by total liabilities to calculate the figure 
debtToAssets['Debt to Assets'] = debtToAssets['Assets'] / debtToAssets['Liabilities']

In [6]:
# Print results 

debtToAssets

                  Assets  Liabilities Debt to Assets
2022-06-30  1215834000.0  775608000.0       1.567588
2021-06-30  1112176000.0  683196000.0       1.627902
2020-06-30   956235000.0  547025000.0       1.748065
2019-06-30   669599000.0  266262000.0       2.514812

In [7]:
## Current Ratio ## 

# Select current assets & current liabilities from Balance Sheet DataFrame 

currentAssets = pd.DataFrame(balanceSheet.loc['Current Assets'])
currentLiabilities =  pd.DataFrame(balanceSheet.loc['Current Liabilities'])

In [8]:
# Create new DataFrame dispalying total current assets & total current liabilities using concat to concentrate the two objects 

currentRatio = pd.concat([currentAssets['Current Assets'], currentLiabilities['Current Liabilities']], 
                         axis=1, keys=['Current Assets', 'Current Liabilities'])

In [9]:
# Create a new column named Current Ratio & divide total current assets by total current liabilities to calculate the figure 

currentRatio['Current Ratio'] = currentRatio['Current Assets'] / currentRatio['Current Liabilities']

In [10]:
# Print results 

currentRatio

           Current Assets Current Liabilities Current Ratio
2022-06-30    375189000.0         313122000.0       1.19822
2021-06-30    304805000.0         340163000.0      0.896056
2020-06-30    230600000.0         234579000.0      0.983038
2019-06-30    203757000.0         167104000.0      1.219342

In [11]:
## Acid Test 

# Create acidTest DataFrame containing current assets & current liabilities from Balance Sheet object 

acidTest = pd.concat([currentAssets['Current Assets'], currentLiabilities['Current Liabilities']], 
                         axis=1, keys=['Current Assets', 'Current Liabilities'])

# Create a new column named Inventory and locate Inventory data from Balance Sheet object 

acidTest['Inventory'] = pd.DataFrame(balanceSheet.loc['Inventory'])

# Create a new column named Acid Test and calculate by deducting inentory from current assets & dividing by current liabilities
acidTest['Acid Test'] = (acidTest['Current Assets'] - acidTest['Inventory']) / acidTest['Current Liabilities']

In [12]:
# Print results 

acidTest

           Current Assets Current Liabilities    Inventory Acid Test
2022-06-30    375189000.0         313122000.0  241631000.0  0.426537
2021-06-30    304805000.0         340163000.0  216881000.0  0.258476
2020-06-30    230600000.0         234579000.0  129106000.0  0.432664
2019-06-30    203757000.0         167104000.0  131470000.0  0.432587

In [13]:
## Cash Ratio (AKA Operating Cash Flow Ratio)


operatingCashFlow = pd.DataFrame(cashFlowStatement.loc['Cash Flowsfromusedin Operating Activities Direct'])

# Create cashFlowRatio DataFrame, calling data from the Balance Sheet & Cash Flow Statement objects 

cashFlowRatio = pd.concat([operatingCashFlow['Cash Flowsfromusedin Operating Activities Direct'], currentLiabilities['Current Liabilities']], 
                         axis=1, keys=['Operating Cash Flow', 'Current Liabilities'])

# Calculate Cash Ratip by dividing operating cash flow by current liabilities 

cashFlowRatio['Operating Cash Ratio'] = cashFlowRatio['Operating Cash Flow'] / cashFlowRatio['Current Liabilities']

In [14]:
# Print results 

cashFlowRatio

           Operating Cash Flow Current Liabilities Operating Cash Ratio
2022-06-30         140346000.0         313122000.0             0.448215
2021-06-30         159409000.0         340163000.0             0.468625
2020-06-30         166672000.0         234579000.0             0.710515
2019-06-30          65687000.0         167104000.0             0.393091

In [15]:
############# Leverage Ratios ############# 

# Leverage ratios are used to measure the level of debt within a company 

# Debt to Assets (see above)
# Debt to Equity 
# Interest Coverage

In [18]:
## Debt to Equity 

# Select shareholder equity from Balance Sheet DataFrame 

shareholderEquity = pd.DataFrame(balanceSheet.loc['Stockholders Equity'])

# Create new DataFrame dispalying shareholder equity & total liabilities using concat to concentrate the two objects 

debtToEquity = pd.concat([shareholderEquity['Stockholders Equity'], liabilities['Total Liabilities Net Minority Interest']], 
                         axis=1, keys=['Shareholder Equity', 'Total Liabilities'])

# Calculate Debt to Equity by dividing total liabilities by shareholder equity 

debtToEquity['Debt to Equity'] = debtToEquity['Total Liabilities'] / debtToEquity['Shareholder Equity']

In [19]:
# Print results

debtToEquity

           Shareholder Equity Total Liabilities Debt to Equity
2022-06-30        440226000.0       775608000.0       1.761841
2021-06-30        428980000.0       683196000.0       1.592606
2020-06-30        409210000.0       547025000.0       1.336783
2019-06-30        403337000.0       266262000.0       0.660148

In [ ]:
## Interest Coverage