In [91]:
## Import dependencies 

import yfinance as yf
import pandas as pd

In [92]:
WES = yf.Ticker("WES.AX")

# get stock info
incomeStatement = WES.income_stmt
balanceSheet = WES.balance_sheet
cashFlowStatement = WES.cashflow

In [110]:
assets = pd.DataFrame(balanceSheet.loc['Total Assets'])
liabilities = pd.DataFrame(balanceSheet.loc['Total Liabilities Net Minority Interest'])

In [111]:
assets

             Total Assets
2022-06-30  27271000000.0
2021-06-30  26214000000.0
2020-06-30  25425000000.0
2019-06-30  18333000000.0

In [105]:
liabilities

           Total Liabilities Net Minority Interest
2022-06-30                           19290000000.0
2021-06-30                           16499000000.0
2020-06-30                           16081000000.0
2019-06-30                            8362000000.0